*{
    outline:0px
}
QTableView{
    alternate-background-color: rgb(200, 200, 200);
    font: 20px;
}
#qt_calendar_navigationbar{
    background: rgba(160, 160, 160);
}
QToolButton{
    border: none;
    icon-size: 30px, 30px;
    width: 60px;
    height: 30px;
}
QToolButton:hover{
    background: rgba(120, 120, 120);
    color: white;
}
QToolButton#qt_calendar_prevmonth{
    width: 40px;
    qproperty-icon: url(%s/button/arrow_left1_white.png);
}
QToolButton#qt_calendar_nextmonth{
    width: 40px;
    qproperty-icon: url(%s/button/arrow_right1_white.png);
}
QToolButton#qt_calendar_monthbutton{
    padding-right: 20px;
}
QToolButton#qt_calendar_monthbutton::menu-indicator{
    subcontrol-origin: padding;
    subcontrol-position: center right;
    right: 10px;
    width: 10px;
}
QAbstractItemView {
    color: black;
    selection-color: white;
    selection-background-color: rgb(150, 174, 150);
    font: 15px;
}
QMenu{
    background:white;
    border:none;
}
QMenu::item{
    padding:5px 20px 5px 30px;
}
QMenu::item:selected{
    background:rgb(190,190,190)
}
QMenu::item:disabled{
    background:transparent;
    padding:5px 20px 5px 15px;
}
QSpinBox{
    height: 30px;
    width: 80px;
}

QSpinBox::up-button{
    image:url(%s/button/arrow_up1_darkgray.png);
    height: 15px;
}
QSpinBox::down-button{
    image:url(%s/button/arrow_down1_darkgray.png);
    height: 15px;
}