QWidget::pane{
    background: rgb(250, 250, 250);
}
QLabel#logoLabel{
    /*border:none;*/
    color:rgb(210, 210, 210);
    background:transparent;
}

QTabWidget#PageWindowTab{
    background:rgb(70, 70, 70);
    border:none;
}

QTabBar#PageWindowTab_TabBar::tab{
    background:rgb(70, 70, 70);
    color:white;
    min-height:45px;
    min-width: 35px;
}
QTabBar#PageWindowTab_TabBar::tab:hover{
    background:rgb(60, 60, 60);
}
QTabBar#PageWindowTab_TabBar::tab:selected{
    background:rgb(40, 40, 40);
}



